@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: Azeret Mono;
}
/* shared styles */
.about-information-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.about-information-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.about-information-title-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
}
.skill-align{
    margin: 0px 10px 0px 10px;
    padding: 40px;
    border-radius: 16px;
}
.skill-text-title{
    font-weight: 800;
    font-size: 24px;
    color: rgb(13, 19, 33);
}
.skill-text-title-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.skill-link{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0px;
}
.skill-bg-html{
    background: rgba(255, 76, 30, 0.05);
}
.skill-bg-css{
    background: rgba(0, 76, 232, 0.05);
}
.skill-bg-javascript{
    background: rgba(255, 223, 0, 0.05);
}

header{
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
}
.header-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header-title{
    font-weight: bolder;
    font-size: 48px;
    color: #0D1321;
    text-align: center;
    margin: 32px 221px 24px 221px;
}
.header-description{
    text-align: center;
    font-size: 16px;
    color: #0D1321;
    margin: 0px 294px 32px 294px;
    opacity: 0.7;
}
.btn-align{
    text-align: center;
}
.contact-btn{
    font-weight: 600;
    font-size: 20px;
    background-color: #0D1321;
    color: white;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    margin-bottom: 45px;
}
.contact-btn-design{
    color: white;
    text-decoration: none;
}

.about-webdev{
    margin: 74px 148px 0px 148px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.about-webdev-header{
    text-align: center;
    color: #0D1321;
}
.about-webdev-title{
    font-weight: bolder;
    font-size: 32px;
    padding-top: 80px;
}
.about-webdev-description{
    padding: 24px 144px 0px 144px;
    opacity: 0.7;
}
.about-information{
    padding-bottom: 80px;
}
.fig-01-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 48px;
}
.fig-01-bg{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 48px 97px 0px 97px;
}
.fig-02-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 48px;
}
.fig-02-bg{
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 48px 97px 0px 97px;
}
.fig-03-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 48px;
}
.fig-03-bg{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 48px 97px 0px 97px;
}

.inspiration{
    text-align: center;
    margin: 0px 296px 0px 296px;
}
.inspiration-title{
    font-weight: bolder;
    font-size: 32px;
    margin-top: 90px;
    color: rgb(13, 19, 33)s;
}
.inspiration-description{
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
}
.video{
    margin: 48px 160px 0px 160px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}
iframe{
    border-radius: 20px;
}
.set-goal-title-dis{
    text-align: center;
    margin: 151px 247px 0px 247px;
}
.set-goal-title{
    font-weight: bolder;
    font-size: 32px;
    color: #0D1321;
}
.set-goal-dis{
    font-weight: 400;
    font-size: 16px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
.set-skill-goal{
    display: flex;
    justify-content: center;
    margin: 48px 150px 0px 150px;
}
.feedback-form{
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 50px 155px 0px 155px;
    border-radius: 10px;
    padding-bottom: 40px;
}
.feedback-form-content{
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 600px;
    width: 100%;
}
.feedback-form-title{
    font-size: 32px;
    font-weight: bold;
}
.feedback-form-description{
    opacity: 0.7;
    margin-bottom: 30px;
}
.feedback-form-section{
    display: flex;
    justify-content: center;
}
.feedback-form-input{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
.feedback-form-btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
}